* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background: url(../images/memphis-mini-dark.png);
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 0 20px 0 20px;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.headerclass{
    width: 960px;
    margin-left: auto;
    margin-right: 19%;
}

.name {
    float:left; 
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;  
}

nav {
    float: right;
    padding: 20px;
}

.content {
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 20px;
    margin: 75px auto 0 auto;
    position: fixed;
    float: right;
    position: relative;
    right: 20%;
}

h2 { 
    color: #4aaaa5;
    font-display: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

img {
    float: left;
    padding: 10px;
}

.bio {
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
